extends layout

block content
  h1= title
  p Enter the stats for your current Egg Inc contract and click "Hatch" to see your expected goal completion time and total expected eggs
  .form
    p Current eggs per minute:
      input#eggsPerMinute(name="eggsPerMinute", type="number", value="1.28e12")
    p Internal Hatchery Rate:
      input#internalHatcheryRate(name="internalHatcheryRate", type="number", value="6440")
    p Time Remaining: #[input#timeRemaining(name="timeRemaining", type="text", value="6d22h")] (hint: format like "1d2h36m" where "d" is days, "h" is hours, etc.)
    p Eggs needed to reach goal:
      input#goal(name="goal", type="number", value="1.2e16")
    p Eggs already laid:
      input#eggs(name="eggs", type="number", value="0")
    p Chicken population:
      input#chickens(name="chickens", type="number", value="741e6")
    p Levels of internal hatchery calm: #[input#levelsCalm(name="levelsCalm", type="number", value="20")] (hint: max is 20 levels)
    p Max Shipping Rate:
      input#shippingRate(name="shippingRate", type="number", value="1.96e12")
    p Habitat capacity:
      input#habCapacity(name="habCapacity", type="number", value="1.26e9")
    p Number of habs: #[input#numHabs(name="numHabs", type="number", value="4")] (hint: max is 4)
    p
      button(id="hatch") Hatch
    .results(id="results")
      p No results yet to display
    script(src="/javascripts/getProjections.js")